.app {
    height: 100svh;
    display: grid;
    grid-template-columns: 15.5rem 1fr;
    grid-template-areas: "sideNav menu";
}

.app.cartActive {
    grid-template-columns: 15.5rem 1fr 25rem;
    grid-template-areas: "sideNav menu cart";
}

@media only screen and (max-width: 950px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        grid-template-areas:
            "sideNav sideNav"
            "menu menu";
    }

    .app.cartActive {
        grid-template-columns: 1fr 25rem;
        grid-template-areas:
            "sideNav sideNav"
            "menu cart";
    }
}

@media only screen and (max-width: 950px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        grid-template-areas:
            "sideNav sideNav"
            "menu menu";
    }

    .app.cartActive {
        grid-template-columns: 1fr 25rem;
        grid-template-areas:
            "sideNav sideNav"
            "menu cart";
    }
}

@media only screen and (max-width: 840px) {
    .app.cartMobile {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 3.5rem;
        grid-template-areas:
            "sideNav sideNav"
            "menu menu"
            "cartOverview cartOverview";
    }

    .app.cartMobileActive {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 3.5rem;
        grid-template-areas:
            "sideNav sideNav"
            "cart cart"
            "cartOverview cartOverview";
    }
}
